/* -------------------- IMPORTERAT GOOGLE-TYPSNITT -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* -------------------- KROPP OCH CONTAINER -------------------- */

/* Styling av dokumentets kropp - typsnitt, textstorlek, radavstånd och 0 marginaler. */
body {
    font-family: "Montserrat", "Open Sans", Verdana, sans-serif;
    font-size: 1rem;
    line-height: 2em;
    min-width: auto;
    min-height: 100vh;
    margin: 0;
}

/* Styling av grid-container med 6 kolumner */
#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    gap: 1rem;
    margin: auto;
    max-width: 1200px;
}

/* Tar bort marginaler på paragrafer */
p {
    margin: 0;
    padding: 0.5rem 0;
}

/* Visar grid i divs */
div {
    display: grid;
}

/* Container & body för skärmar mindre än 1024px, 2 kolumner */
@media screen and (max-width: 1024px) {
    #grid-container {
        display:flex;
        flex-direction: column;
    }
}

/* Container & body för skärmar mindre än 600px, 1 kolumn i flex*/
@media screen and (max-width: 600px) {
    #grid-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}

/* -------------------- SLUT PÅ KROPP OCH CONTAINER -------------------- */

/* -------------------- RUBRIKER -------------------- */

/* Typsnitt och storlek */
h1 {
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.2em;
    margin: 1rem;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem;
    line-height: 1.3em;
}

h3 {
    font-size: 1.6rem;
    text-align: center;
    margin: 1rem;
}

h4 {
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem 0 0.5rem 0;
}

h5 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
}

h6 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

/* Rubriker för skärmar mindre än 1024px */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2rem;
        line-height: 1.1em;
    }

    h2 {
        font-size: 1.7rem;
        line-height: 1.1em;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.1em;
    }

    h4 {
        font-size: 1.3rem;
        line-height: 1.1em;
    }

    h5 {
        font-size: 1.2rem;
    }
    
    h6 {
        font-size: 1.1rem;

    }
}

/* Rubriker för skärmar mindre än 600px, flex */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.3em;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 1.3em;
    }

    h4 {
        font-size: 1.2rem;
        line-height: 1.2em;
    }

    h5 {
        font-size: 1.1rem;
    }
    
    h6 {
        font-size: 1rem;

    }
}

/* -------------------- SLUT PÅ RUBRIKER -------------------- */

/* -------------------- NAVIGATION - HEADER, MENY, KNAPPAR & HOVER -------------------- */

/* Header i grid-container */
header {
    grid-column: 1 / span 6;
    grid-row: 1;
    margin: 5% 0;
}

/* Navigeringsmeny som visar flex istället för grid, linjer ovan och under */
nav {
    display: flex;
    grid-column: 1 / span 6;
    justify-content: center;
    margin-bottom: 5%;
    text-align: center;
    padding: 2% 0 2% 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    letter-spacing: 5px;
}

/* Hoverfärg för länkar i navigation */
nav a:hover {
    color: #ff5a76;
}

/* Färg för när länk klickas i navigationen */
nav a:active {
    color: hotpink;
}

/* Färg och form på knappar i navigation */
.gridnav {
    padding: 0 2%;
    border-right: solid black 1px;
}

/* Sätter spacing mellan bokstäver för länkar i nav */
.gridnav a {
    letter-spacing: 0.5rem;
}

.last {
    border-right: none !important;
}

/* Logotyp för mobilen */
#mobilelogo {
    display: none;
}

.nav {
    display: none;
}

#navlinks {
    display: none;
}


/* Header och navigeringsmeny för skärmar mindre än 1024px */
@media screen and (max-width: 1024px) {
    header {
        grid-column: 1 / span 2;
        margin: 5%
    }

    nav {
        grid-column: 1 / span 2;
        font-size: 1.2rem;
        margin: 0 5%;
    }

    .gridnav {
        padding: 0 2%;
    }

    .gridnav a {
        letter-spacing: 0;
    }
}

/* Header och navigeringsmeny för skärmar mindre än 600px, visas i flex */
@media screen and (max-width: 600px) {
    header {
        margin: 10% 5% 5% 5%;
        display: flex;
    }

    /* Döljer vanliga navigeringen */
    nav {
        display: none;
    }

    .gridnav {
        display: none;
    }

    /* Döljer vanliga logotypen */
    #logo {
        display: none;
    }

    /* Visar mobillogo istället */
    #mobilelogo {
        display: flex;
    }

    /* Navigeringsmeny för mobilen, hamburgermeny drop down */
    .nav {
        display: flex;
        justify-content: end;
        border-top: 2px solid black;
        padding-top: 6%;
    }

    .navmobile {
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
    }

    .last {
        border-bottom: none !important;
    }

    /* Länkar i menyn som döljs initialt för att sedan visas vid klick genom JS */
    #navlinks {
        display: none;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        align-items: center;
    }

    #navlinks a {
        padding: 0 32%;
        letter-spacing: 0.5rem;
    }

    #hamburger {
        display: inline-block;
    }

    #menutext {
        margin: 0 5%;
        line-height: 2.5rem;
    }

    /* Hamburgermeny bestående av tre linjer, förändras under 0.4 sekunder*/
    #line1,
    #line2,
    #line3 {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Ändrar position och rotrar första linjen -45 grader genom klassen cross (JS) */
    .cross #line1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    /* Fadear ut mitten-linjen i hamburgermenyn genom klassen cross (JS) */
    .cross #line2 {
        opacity: 0;
    }

    /* Ändrar position och rotrar tredje linjen 45 grader genom klassen cross (JS) */
    .cross #line3 {
        transform: translate(0, -11px) rotate(45deg);
    }
}

/* -------------------- SLUT PÅ NAVIGATION -------------------- */

/* -------------------- BILDER & FLIP CARDS -------------------- */

/* Bild i gridcontainer */
#gridimg {
    grid-column: 1 / span 3;
    grid-row: 5 / span 3;
    margin-right: 5%;
}

/* Grundstil för bild */
.link-img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Effekten vid hover */
.link-img:hover {
    transform: scale(1.05);
    filter: brightness(0.5);
}

/* Flip card med 3D-effekt */
.flip-card {
    perspective: 60rem;
}

/* Specificerar tiden för transform (roteringen) och bestämmer att underordnade element behåller 3D-effekten */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Vänder bilden horisontellt 180 grader vid hover över bilden */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Positionering för fram- och baksida på flip card, döljer baksidan av elementet när framsidan visas. */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    /* Vendor prefix för Safari */
    transform: rotateX(0deg);
    /* Fix för att flip-card ska fungera i firefox, döljer baksidan */
    backface-visibility: hidden;
    cursor: pointer;
}

/* Styling för baksida av flip card, border och rotering tillbaka 180 grader. */
.flip-card-back {
    border: solid 1px black;
    transform: rotateY(180deg);
}

/* Luft för rubrik och text i flipcard */
.flip-card-back p {
    padding: 5%;
    font-size: 1rem;
}

.flip-card-back h2 {
    padding: 5%;
    font-size: 2rem;
}

/* Klass för storlek på flipcard-bild */
.size1 {
    width: 100%;
    height: auto;
    max-width: 512px;
    margin: auto;
}

/* Klass för storlek på headerbild & signaturbild */
.size2 {
    width: 100%;
    margin: auto;
}

/* Klass för storlek på ikoner i footer */
.size3 {
    width: 10%;
    min-width: 28px;
    margin: 4%;
}

/* Klass för storlek på noflipimg */
.size4 {
    width: 80%;
    margin: auto;
}

/* Döljer flipcard på skärmar mindre än 1024px */
@media screen and (max-width: 1024px) {

    .flip-card,
    .flip-card-inner,
    .flip-card-front,
    .flip-card-back {
        display: none;
    }

    /* Visar bild istället för flip på skärmar mindre än 1024px */
    #noflipimg {
        grid-column: 1 / span 2;
        grid-row: 5;
        content: url("../resources/isa.png");
    }
}

/* Bild-position på skärmar mindre än 600px, flex */
@media screen and (max-width: 600px) {
    #noflipimg {
        margin: auto auto 10% auto;
        display: flex;
    }
}

/* -------------------- SLUT PÅ BILDER & FLIP CARDS -------------------- */

/* -------------------- KNAPPAR STARTSIDA -------------------- */

/* Runda knappar som visas i flex */
.button {
    background-color: pink;
    border-radius: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover-bakgrundsfärg i knappar */
.button:hover {
    background-color: #ff5a76;
    color: white;
    transform: scale(1.05); 
}

/* Hover-länkarfärg i knappar */
.button a:hover {
    color: white;
}

.button a:active {
    color: hotpink;
    transform: scale(1);
}

/* Grid-område för knappar */
#button1 {
    grid-column: 4;
    grid-row: 6;
    height: 150px;
    width: 150px;
    margin: auto;
}

#button2 {
    grid-column: 5;
    grid-row: 6;
    height: 150px;
    width: 150px;
    margin: auto;
}

#button3 {
    grid-column: 6;
    grid-row: 6;
    height: 150px;
    width: 150px;
    margin: auto;
}

/* Grundstil för rosa knappen */
.btn {
    background-color: pink;
    border-radius: 8px; 
    padding: 10px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover-effekt för knappen */
.btn:hover {
    background-color: #ff5a76;
    color: white;
    transform: scale(1.05); 
}

/* Aktiv effekt för länken */
.btn:active {
    background-color: hotpink;
    transform: scale(1);
}

/* Döljer knappar på skärmar mindre än 1024px */
@media screen and (max-width: 1024px) {
    #button1 {
        display: none;
    }

    #button2 {
        display: none;
    }

    #button3 {
        display: none;
    }
}

/* -------------------- SLUT PÅ KNAPPAR -------------------- */

/* -------------------- ÖVRIGA OMRÅDEN I GRIDCONTAINER -------------------- */

/* Gridområde för sektion med text */
#section {
    grid-column: 4 / span 3;
    grid-row: 7;
    margin-top: 2rem;
}

/* Gridområde för signatur (bild) */
#signature {
    grid-column: 5;
    grid-row: 8;
    margin-bottom: 15%;
}

/* Gridområde för rubriker */
#heading1 {
    grid-column: 1 / span 6;
    grid-row: 3;
    letter-spacing: 0.8rem;
}

#heading2 {
    grid-column: 4 / span 3;
    grid-row: 5;
}

/* Döljer rubrik 3 på dator */
#heading3 {
    display: none;
}

/* Döljer span-text för navigation och meny */
#nvg,
#mnu {
    display: none;
}

/* Grid-område till animering */
.typewrite {
    grid-column: 1 /span 6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 5rem;
}

/* Text inuti animering */
.typewrite .text {
    position: relative;
    color: #ff5a76;
    letter-spacing: 0.4rem;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 0;
}

/* Första texten */
.typewrite .text.first {
    color: black;
    margin-right: 0.7rem;
}

/* Animering i 4 sekunder och 12 steg, oändlig upprepning*/
.text.second:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 0.4rem solid #ff5a76;
    margin-left: 0.7rem;
    animation: animate 4s steps(12) infinite;
}

/* Keyframes till animering. Flyttas helt till höger vid 40+60% av tiden. Vid 100 % åter till normal position */
@keyframes animate {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

/* Sektion, signatur och rubriker för skrämar mindre än 1024px */
@media screen and (max-width: 1024px) {
    #section {
        grid-column: 1 / span 2;
        grid-row: 7;
        margin: 0 10%;
    }

    #signature {
        grid-column: 1 / span 2;
        grid-row: 8;
        margin: 0 auto 5% auto;
        padding: 0 35%;
    }

    #heading1 {
        grid-column: 1 / span 2;
        grid-row: 3;
        margin: 2rem auto 0 auto;
    }

    /* Döljer rubrik 2 */
    #heading2 {
        display: none;
    }

    #heading3 {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 6;
        margin: 2rem 0;
        letter-spacing: 0.2rem;
    }

    .size4 {
        width: 60%;
    }

    /* Döljer span-text för knappar och meny */
    #btn,
    #mnu {
        display: none;
    }

    /* Visar spantext för navigation */
    #nvg {
        display: inline;
    }

    .typewrite {
        grid-column: 1 / span 2;
        margin-bottom: 2rem;
    }

    .typewrite .text {
        font-size: 2rem;
        padding: 0;
    }

    .text.second:before {
        border-left: 0.3rem solid #ff5a76;
    }
}

/* Sektion, signatur och rubriker för skrämar mindre än 600px, flex */
@media screen and (max-width: 600px) {
    #section {
        margin: 2rem 0;
        display: flex;
    }

    #section h3 {
        margin-top: 0;
    }

    #signature {
        margin: 5% 10%;
        padding: 0;
        display: flex;
    }

    #heading1 {
        margin: 1rem 0;
        border-top: 2px solid black;
        padding-top: 10%;
        display: flex;
        justify-content: center;
    }

    #heading3 {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }

    .size4 {
        width: 80%;
    }

    /* Döljer span-text för knappar och navigation */
    #btn,
    #nvg {
        display: none;
    }

    /* Visar spantext för meny */
    #mnu {
        display: inline;
    }

    .typewrite {
        margin: 0;
        flex-wrap: wrap;
    }

    .typewrite .text {
        font-size: 1.2rem;
    }
}

/* -------------------- SLUT PÅ ÖVRIGA OMRÅDEN I GRIDCONTAINER -------------------- */

/* -------------------- LÄNKAR -------------------- */

/* Tar bort underline och stylar textfärg samt tjocklek på text */
a,
a:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Färg vid hover på länkar */
a:hover,
a:active {
    color: hotpink;
}

/* Ändrar länkfärg vid aktiv sida i navigationen */
#active a {
    color: #ff5a76;
}

/* Ändrar textfärg på id active2 på skrämar mindre än 600px */
@media screen and (max-width: 600px) {
    #active2 a {
        color: #ff5a76;
    }

    .navmobile a:hover {
        color: #ff5a76;
    }
}

/* -------------------- SLUT PÅ LÄNKAR -------------------- */

/* -------------------- LISTOR -------------------- */

/* Tar bort vanliga bullets vid listor */
ul {
    list-style-type: none;
}

.bullet ul li::before {
    content: "\2022";
    /*Egen bullet för listor för att kunna ändra färg */
    color: #ff5a76;
    font-weight: bold;
    font-size: 1.4em;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* -------------------- SLUT PÅ LISTOR -------------------- */

/* -------------------- FOOTER -------------------- */

/* Footer som visas i flex */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 6;
    text-align: center;
    font-weight: bold;
    font-size: 0.85rem;
    border-top: 1px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
}

/* Justerar innehållet centrerat */
#center {
    display: flex;
    margin-right: 7%;
}

#footer1 img:hover {
    content: url("../resources/callhover.png");
}

#footer2 img:hover {
    content: url("../resources/emailhover.png");
}

#footer3 img:hover {
    content: url("../resources/followhover.png");
}

/* Footerinställning för skärmar mindre än 1024px */
@media screen and (max-width: 1024px) {
    footer {
        grid-column: 1 / span 2;
        font-size: 1rem;
    }
}

/* Footerinställning för skärmar mindre än 600px, flex */
@media screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.2rem;
        line-height: 2.5em;
        padding-top: 5%;
        padding-bottom: 5%;
        border-top: 2px solid black;
    }

    /* Ändrar till grid och tar bort margin */
    #center {
        margin-top: 5%;
        margin-right: 0;
        flex-direction: column;
    }
}

/* -------------------- SLUT PÅ FOOTER -------------------- */

/* -------------------- CONTENT - ABOUT -------------------- */

#sectionA1 {
    grid-column: 1 / span 3;
    grid-row: 4;
    margin: 0 1rem;
}

#sectionA2 {
    grid-column: 4 / span 3;
    grid-row: 4;
    margin-left: 0 1rem;
}

#aboutimg {
    grid-column: 1 / span 3;
    grid-row: 5;
    margin: 10% 0;
}

#signature2 {
    grid-column: 4 / span 3;
    grid-row: 5;
    padding: 10% 30%;
    align-content: start;
}

/* Styling för skärmar mindre än 1024px - ABOUT */
@media screen and (max-width: 1024px) {
    #sectionA1 {
        grid-column: 1 / span 2;
        margin: 0 auto;
        max-width: 75ch;
    }

    #sectionA2 {
        grid-column: 1 / span 2;
        grid-row: 5;
        margin: 0 auto;
        max-width: 75ch;
    }

    #aboutimg {
        grid-column: 1 / span 2;
        grid-row: 7;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    #signature2 {
        grid-column: 2;
        grid-row: 6;
        padding: 0;
        max-width: 300px;
        margin: auto;
    }
}

/* Styling för skärmar mindre än 600px - ABOUT, flex */
@media screen and (max-width: 600px) {
    #sectionA1 {
        display: flex;
        flex-wrap: wrap;
    }

    #sectionA2 {
        display: flex;
        flex-wrap: wrap;
    }

    #aboutimg {
        grid-column: 1;
        margin: 5% 10%;
        display: flex;
    }

    #signature2 {
        grid-column: 1;
        margin: 5% 10%;
        display: flex;
    }
}

/* -------------------- CONTENT - SLUT PÅ ABOUT -------------------- */

/* -------------------- CONTENT - RESUME -------------------- */

#work {
    grid-column: 1 / span 3;
    grid-row: 4;
    letter-spacing: 0.5rem;
}

#work1 {
    grid-column: 1 / span 3;
    grid-row: 5;
    margin: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid black;
}

#work2 {
    grid-column: 1 / span 3;
    grid-row: 6;
    margin: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid black;
}

#work3 {
    grid-column: 1 / span 3;
    grid-row: 7 / span 2;
    margin: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid black;
}

#work4 {
    grid-column: 1 / span 3;
    grid-row: 9;
    margin: 1rem;
}

#education {
    grid-column: 1 / span 3;
    grid-row: 10;
    letter-spacing: 0.5rem;
    margin-top: 5%;
}

#education1 {
    grid-column: 1 / span 3;
    grid-row: 11;
    margin: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid black;
}

#education2 {
    grid-column: 1 / span 3;
    grid-row: 12;
    margin: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid black;
}

#education3 {
    grid-column: 1 / span 3;
    grid-row: 13;
    margin: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid black;
}

#education4 {
    grid-column: 1 / span 3;
    grid-row: 14;
    margin: 1rem;
    padding-bottom: 4rem;
}

#borderleft {
    grid-column: 4;
    grid-row: 4 / span 11;
    border-left: 1px solid black;
    margin: 0 50% 20% 50%;
    padding-bottom: 10%;
}

.skillsheading {
    letter-spacing: 0.8rem;
    border-bottom: 1px solid black;
    line-height: 1.2rem;
    color: #ff5a76;
    padding-bottom: 2rem;
    margin: auto 0;
    font-size: 1.5rem;
}

#skills {
    grid-column: 5 / span 2;
    grid-row: 4 / span 5;
    margin: auto 0;
    text-align: center;
    font-weight: bold;
    line-height: 4.5rem;
}

#skills ul {
    padding: 0;
}

/* Styling för skärmar mindre än 1024px - RESUME */
@media screen and (max-width: 1024px) {
    #work {
        grid-column: 1 / span 2;
        margin: 0;
    }

    #work1 {
        grid-column: 1 / span 2;
        margin: 0 0 2rem 0;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
        }

    #work2 {
        grid-column: 1 / span 2;
        margin: 0 0 2rem 0;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
    }

    #work3 {
        grid-column: 1 / span 2;
        grid-row: 7;
        margin: 0 0 2rem 0;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
    }

    #work4 {
        grid-column: 1 / span 2;
        grid-row: 8;
        margin: 0 0 2rem 0;
    }

    #education {
        grid-column: 1 / span 2;
        grid-row: 9;
        margin: 0;
    }

    #education1 {
        grid-column: 1 / span 2;
        grid-row: 10;
        margin: 0 0 2rem 0;
        padding-bottom: 2rem;
        border-bottom: 2px solid black;
    }

    #education2 {
        grid-column: 1 / span 2;
        grid-row: 11;
        margin: 0 0 2rem 0;
        padding-bottom: 2rem;
        border-bottom: 2px solid black;
    }

    #education3 {
        grid-column: 1 / span 2;
        grid-row: 12;
        margin: 0 0 2rem 0;
        padding-bottom: 2rem;
        border-bottom: 2px solid black;
    }

    #education4 {
        grid-column: 1 / span 2;
        grid-row: 13;
        margin: 0;
    }

    #borderleft {
        display: none;
    }

    .skillsheading {
        letter-spacing: 0.5rem;
        padding: 0.8rem 0;
        background-color: black;
        color: white;
        border-bottom: none;
    }

    #skills {
        grid-column: 1 / span 2;
        grid-row: 14;
    }
}

/* Styling för skärmar mindre än 600px, flex - RESUME */
@media screen and (max-width: 600px) {

    #work1,
    #work2,
    #work3,
    #work4,
    #education1,
    #education2,
    #education3,
    #education4 {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #education4 {
        padding: 0;
    }

    #skills {
        margin: 5%;
        line-height: 2.5em;
        font-size: 1.2rem;
    }

    .skillsheading {
        letter-spacing: 0.5rem;
        padding: 1.24rem;
        background-color: black;
        color: white;
        margin: 10% 0 0 0;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border-bottom: none;
        font-size: 5vw;
    }
}

/* -------------------- CONTENT - SLUT PÅ RESUME -------------------- */

/* -------------------- CONTENT - PROJECTS -------------------- */

#mainheader {
    grid-column: 1 / span 6;
    grid-row: 3;
    letter-spacing: 0.5rem;
    text-align: center;
    max-width: 70ch;
    margin: auto auto 5% auto;
}

#video1 {
    grid-column: 1 / span 3;
    grid-row: 4 / span 2;
    align-items: center;
}

#video2 {
    grid-column: 1 / span 3;
    grid-row: 6 / span 2;
    align-items: center;
}

#video3 {
    grid-column: 1 / span 3;
    grid-row: 8 / span 2;
    align-items: center;
}

#video4 {
    grid-column: 1 / span 3;
    grid-row: 10 / span 2;
    align-items: center;
}

#audio {
    grid-column: 1 / span 3;
    grid-row: 12 / span 2;
    align-items: center;
}

#PDF {
    grid-column: 1 / span 3;
    grid-row: 14 / span 2;
    align-items: center;
}

#img7 {
    grid-column: 1 / span 3;
    grid-row: 16 / span 2;
    align-items: center;
}

#img8 {
    grid-column: 1 / span 3;
    grid-row: 18 / span 2;
    align-items: center;
}

.projects {
    background-color: black;
    color: white;
    padding: 0.5rem 0;
    display: grid;
    align-items: center;
    max-height: 30px;
    font-size: 1.5rem;
}

#project1 {
    grid-column: 4 / span 3;
    grid-row: 4;
    font-weight: bold;
    margin-left: 10%;
    letter-spacing: 0.5rem;
    text-align: center;
}

#project2 {
    grid-column: 4 / span 3;
    grid-row: 6;
    font-weight: bold;
    margin-left: 10%;
    letter-spacing: 0.5rem;
    text-align: center;
}

#project3 {
    grid-column: 4 / span 3;
    grid-row: 8;
    font-weight: bold;
    margin-left: 10%;
    letter-spacing: 0.5rem;
    text-align: center;
}

#project4 {
    grid-column: 4 / span 3;
    grid-row: 10;
    font-weight: bold;
    margin-left: 10%;
    letter-spacing: 0.5rem;
    text-align: center;
}

#project5 {
    grid-column: 4 / span 3;
    grid-row: 12;
    font-weight: bold;
    margin-left: 10%;
    letter-spacing: 0.5rem;
    text-align: center;
}

#project6 {
    grid-column: 4 / span 3;
    grid-row: 14;
    font-weight: bold;
    margin-left: 10%;
    letter-spacing: 0.5rem;
    text-align: center;
}

#project7 {
    grid-column: 4 / span 3;
    grid-row: 16;
    font-weight: bold;
    margin-left: 10%;
    letter-spacing: 0.5rem;
    text-align: center;
}

#project8 {
    grid-column: 4 / span 3;
    grid-row: 18;
    font-weight: bold;
    margin-left: 10%;
    letter-spacing: 0.5rem;
    text-align: center;
}

#section1 {
    grid-column: 4 / span 3;
    grid-row: 5;
    margin-left: 10%;
    margin-bottom: 10%;
}

#section2 {
    grid-column: 4 / span 3;
    grid-row: 7;
    margin-left: 10%;
    margin-bottom: 10%;
}

#section3 {
    grid-column: 4 / span 3;
    grid-row: 9;
    margin-left: 10%;
    margin-bottom: 10%;
}

#section4 {
    grid-column: 4 / span 3;
    grid-row: 11;
    margin-left: 10%;
    margin-bottom: 10%;
}

#section5 {
    grid-column: 4 / span 3;
    grid-row: 13;
    margin-left: 10%;
    margin-bottom: 10%;
}

#section6 {
    grid-column: 4 / span 3;
    grid-row: 15;
    margin-left: 10%;
    margin-bottom: 10%;
}

#section7 {
    grid-column: 4 / span 3;
    grid-row: 17;
    margin-left: 10%;
    margin-bottom: 10%;
}

#section8 {
    grid-column: 4 / span 3;
    grid-row: 19;
    margin-left: 10%;
    margin-bottom: 10%;
}

.iframesize {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 10%;
    border: 0px;
}

audio {
    width: 100%;
    margin: 10% 0;
}

#pdfsize {
    width: 100%;
    aspect-ratio: 5/7;
    margin: 10% 0;
    border: 0px;
}

.grey {
    color: rgb(100, 100, 100);
}

/* Styling för skärmar mindre än 1024px, flex - PROJECTS */
@media screen and (max-width: 1024px) {
    #mainheader {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem auto;
        padding-top: 10%;
    }

    #video1,
    #video2,
    #video3,
    #video4 {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #audio {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
    }

    #PDF {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #section1,
    #section2,
    #section3,
    #section4,
    #section5,
    #section6,
    #section7,
    #section8 {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    #project1,
    #project2,
    #project3,
    #project4,
    #project5,
    #project6,
    #project7,
    #project8 {
        margin: 0;
    }

    .projects {
        max-height: none;
    }
}

/* -------------------- SLUT PÅ CONTENT - PROJECT -------------------- */

/* -------------------- CONTENT - CONTACT-SIDA -------------------- */

#mainheader2 {
    grid-column: 1 / span 6;
    grid-row: 3;
    margin-bottom: 5%;
    letter-spacing: 0.5rem;
    text-align: center;
    max-width: 70ch;
    margin: auto;
}

form {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 4;
    margin: 15% 5% 10% 0;
}

textarea {
    width: 97%;
    height: 10rem;
}

#contactimg {
    grid-column: 2 / span 4;
    grid-row: 4;
    margin: 2rem 0;
}

/* Styling för skärmar mindre än 1024px - CONTACT */
@media screen and (max-width: 1024px) {
    #mainheader2 {
        grid-column: 1;
        margin: 10% 5% 10% 10%;
    }

    form {
        grid-column: 1 / span 2;
        grid-row: 4;
        margin: 5% 10%;
    }

    #contactimg {
        grid-column: 2;
        grid-row: 3;
        margin: 10% 10% 10% 5%;
    }
}

/* Styling för skärmar mindre än 600px, flex - CONTACT */
@media screen and (max-width: 600px) {
    #mainheader2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 2px solid black;
        margin: 3% 5% 0 5%;
        padding-top: 10%;
    }

    #mainheader {
        border-top: 2px solid black;
    }

    input {
        width: 96%;
        height: 2rem;
    }

    form {
        display: flex;
        justify-content: center;
    }

    #contactimg {
        display: flex;
        margin: 5% 10%;
    }
}